<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="doughnutchart" data-view ="DoughnutChart" data-title="Doughnut Chart" data-moreinfo=""></div>
    </li>
  </ul>
</div>