<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":2},{"col":5,"row":1,"size_x":1,"size_y":2},{"col":2,"row":1,"size_x":3,"size_y":2}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="BrandImage" data-image="/brand.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active_incs_by_age" data-view="BrandBarChart" data-title="Active Incidents by Age"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active_incs_by_urg" data-view="BrandBarChart" data-title="Active Incidents by Urgency"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="7day_avg_res_time_by_urg" data-view="BrandList" data-title="Average Resolve Times"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="7day_incs_by_state" data-view="BrandList" data-title="Incidents by State"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="7day_crtd_vs_res" data-view="BrandLineChart" data-title="Created vs Resolved"></div>
    </li>
  </ul>
</div>